<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    
    <!-- Disable Node.js startup -->
    <handlers>
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
    </handlers>
    
    <!-- Set default documents -->
    <defaultDocument>
      <files>
        <add value="index.html" />
        <add value="hostingstart.html" />
        <add value="default.htm" />
        <add value="default.html" />
      </files>
    </defaultDocument>
    
    <!-- URL Rewrite Rules for Clean URLs (Testing) -->
    <rewrite>
      <rules>
        <!-- Force HTTPS -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        
        <!-- Redirect about.html to /about -->
        <rule name="Redirect About HTML" stopProcessing="true">
          <match url="^about\.html$" />
          <action type="Redirect" url="/about" redirectType="Permanent" />
        </rule>
        
        <!-- Rewrite /about to about.html internally -->
        <rule name="Rewrite About Clean URL" stopProcessing="true">
          <match url="^about/?$" />
          <action type="Rewrite" url="about.html" />
        </rule>
        
        <!-- Fallback: other non-file requests go to their .html files if they exist -->
        <rule name="Static Content Fallback" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>